.crd {
    background-color: var(--card-bg);
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
    border-radius: 6px;
    cursor: pointer;
    &:hover{
      // background-color: red;
      // opacity: ;
    }
    .tp {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .txt {
            color: var(--font-desat);
            font-size: 1rem;
            font-weight: 700;
        }
        .icn {
        }
    }
    .bt {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .count {
            color: var(--font);
            font-size: 1.5rem;
            font-weight: 700;
        }
        .btm-st {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            grid-column-gap: 6px;
            column-gap: 6px;
            .st-icon {
            }
            .st-txt {
                font-size: 14px;
                font-weight: 700;
            }
        }
    }
}
