<div class="crd">
  <div class="tp">
    <div class="txt">{{detail.text}}</div>
    <img src="../../../assets/app-icons/{{detail.icon}}" class="icn" />
  </div>
  <div class="bt">
    <div class="count">{{detail.count}}</div>
    <div class="btm-st">
      <img class="st-icon" src="../../../assets/app-icons/{{detail.isProgress ? 'icon-up.svg': 'icon-down.svg'}}" />
      <div class="st-txt" [ngStyle]="{ 'color': detail.isProgress ? 'hsl(163, 72%, 41%)' : 'hsl(356, 69%, 56%)'}">
        {{detail.percentage}}%</div>
    </div>
  </div>
</div>
