*{
  user-select: none;
}
.crd {
    display: flex;
    flex-direction: column;
    height: 13rem;
    border-radius: 6px;
    perspective: 1500px;
    background-color: var(--card-bg);
    &:hover {
        background-color: var(--card-bg-hov);
    }
    .tp-ln {
        height: 4px;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
    }
    .bdy {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 98%;
        padding: 2rem 3rem;
        transform: translateZ(80px) scale(0.94);
        mat-icon {
            color: var(--font);
            position: absolute;
            top: 0.5rem;
            right: 0.75rem;
        }
        .nm {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            column-gap: 5px;

            .usr-nm {
                color: var(--font);
            }
        }
        .folwr {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin: 1rem 0;
            .folwr-cnt {
                color: var(--font);
                font-size: 4rem;
                font-weight: 700;
            }
            .folwr-txt {
                color: var(--font-desat);
                font-size: 1rem;
                font-weight: 400;
                letter-spacing: 5px;
                text-transform: uppercase;
            }
        }
        .btm-st {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            column-gap: 6px;
            min-width: 6rem;
            .st-txt {
                font-size: 14px;
                font-weight: 700;
            }
            .red {
                color: hsl(356, 69%, 56%);
            }
            .green {
                color: hsl(163, 72%, 41%);
            }
        }
    }
}

@media screen and (max-device-width: 1075px), screen and (max-width: 1075px) {
    .crd {
        height: 13rem;
        .bdy {
            .folwr {
                .folwr-cnt {
                    font-size: 3rem;
                }
            }
        }
    }
}

// @media screen and (max-device-width: 950px), screen and (max-width: 950px) {
// }

@media screen and (max-device-width: 820px), screen and (max-width: 820px) {
    .crd {
        height: 13rem;

        .bdy {
            .nm {
                .usr-nm {
                    font-size: 0.75rem;
                }
            }
            .folwr {
                .folwr-txt {
                    letter-spacing: 2px;
                }
                .folwr-cnt {
                    font-size: 2rem;
                }
            }
        }
    }
}

@media screen and (max-device-width: 650px), screen and (max-width: 650px) {
    .crd {
        height: 13rem;
        .bdy {
            .folwr {
                .folwr-txt {
                    letter-spacing: 0px;
                }
            }
        }
    }
}

@media screen and (max-device-width: 512px), screen and (max-width: 512px) {
    .crd {
        height: 13rem;
        .bdy {
            .folwr {
                .folwr-txt {
                    letter-spacing: 4px;
                }
                .folwr-cnt {
                    font-size: 4rem;
                }
            }
        }
    }
}

@media screen and (max-device-width: 400px), screen and (max-width: 400px) {
    .crd {
        height: 13rem;

        .bdy {
            .folwr {
                .folwr-cnt {
                    font-size: 3rem;
                }
            }
        }
    }
}

@media screen and (max-device-width: 350px), screen and (max-width: 350px) {
    .crd {
        height: 12rem;
        .bdy {
            .folwr {
                .folwr-cnt {
                    font-size: 3rem;
                }
            }
        }
    }
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: lighten(beige, 20%);
}
::-webkit-scrollbar-thumb:hover {
    background: beige;
}
