<div class="ctnt-full">
  <div class="tp-hlf">
    <div class="tp-br">
      <div class="hdng">
        <div class="txt">Social Media Dashboard</div>
        <div class="tl-folwr">Total followers: 3435</div>
      </div>
      <hr class="solid">
      <div class="actn">
        <div class="actn-txt">Dark Mode</div>
        <div class="actn-tgl">
          <mat-slide-toggle class="toggle adjust" [(ngModel)]="!isDark" (ngModelChange)="onThemeChange()">
          </mat-slide-toggle>
        </div>
      </div>
    </div>
  </div>
  <div class="bt-hlf">
    <div class="stats-top" cdkDropList cdkDropListOrientation="{{ mobileView ? 'vertical' : 'horizontal'}}"
      (cdkDropListDropped)="dropData($event)">
      <app-stats-complete class="card" *ngFor="let data of datas" [card]='data' cdkDrag>
        <div cdkDragHandle></div>
      </app-stats-complete>
    </div>
    <div class="hdng-2">
      Overview - Today
    </div>
    <div class="stats-btm">
      <!-- TAG-2 -->
      <app-stats-daily class="sm-card" *ngFor="let detail of details; trackBy: trackByFunc" [detail]='detail'>
      </app-stats-daily>
    </div>
  </div>
</div>
