.ctnt-full {
    display: flex;
    flex-direction: column;
    .tp-hlf {
        // top
        height: 15rem;
        background-color: var(--bg-top);
        padding: 0 10rem;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        .tp-br {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 2rem 0;
            .hdng {
                .txt {
                    color: var(--font);
                    font-size: 2rem;
                    font-weight: 700;
                }
                .tl-folwr {
                    color: var(--font-desat);
                    font-size: 1rem;
                    font-weight: 700;
                }
            }
            .solid {
                display: none;
            }
            .actn {
                display: flex;
                align-items: center;
                column-gap: 1rem;
                .actn-txt {
                    color: var(--font-desat);
                    font-weight: 700;
                }
                // hovering outer elemenet and changing inner element style
                &:hover > .actn-txt {
                    color: var(--font-hov);
                }
                .actn-tgl {
                    ::ng-deep .mat-slide-toggle-label {
                        background: var(--tog-bar);
                        border-radius: 31px;
                    }
                    ::ng-deep .mat-slide-toggle .mat-slide-toggle-bar {
                        border-radius: 1rem;
                        width: 40px;
                        height: 23px;
                        background: var(--tog-bar);
                        &:hover {
                            background: var(--tog-bar);
                        }
                    }

                    ::ng-deep
                        .mat-slide-toggle.mat-checked:not(.mat-disabled)
                        .mat-slide-toggle-bar {
                        border-radius: 1rem;
                        width: 40px;
                        height: 23px;
                        background: var(--tog-bar);
                        &:hover {
                            background: var(--tog-bar-hov);
                        }
                    }

                    ::ng-deep
                        .mat-slide-toggle-thumb-container:not(.mat-disabled) {
                        top: 0px;
                    }

                    ::ng-deep
                        .mat-slide-toggle.mat-checked
                        .mat-slide-toggle-thumb-container {
                        top: 0px;
                    }

                    // to left - mat slider toggle thumb
                    ::ng-deep .mat-slide-toggle .mat-slide-toggle-thumb {
                        position: absolute;
                        top: 2px;
                        right: -1px;
                        background: var(--tog-handle);
                        // box-shadow: inset 0px -4px 4px rgba(0, 0, 0, 0.25);
                        width: 19px;
                        height: 19px;
                    }

                    // to right - mat slider toggle thumb
                    ::ng-deep
                        .mat-slide-toggle.mat-checked:not(.mat-disabled)
                        .mat-slide-toggle-thumb {
                        position: absolute;
                        top: 2px;
                        right: -1px;
                        background: var(--tog-handle);
                        // box-shadow: inset 0px -4px 4px rgba(0, 0, 0, 0.25);
                        width: 19px;
                        height: 19px;
                    }

                    ::ng-deep
                        .mat-slide-toggle.mat-checked
                        .mat-ripple-element {
                        background-color: var(--tog-bar);
                    }
                }
            }
        }
    }
    .bt-hlf {
        flex-grow: 1;
        margin-top: -7.5rem;
        padding: 0 10rem;
        padding-bottom: 2rem;
        .stats-top {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            column-gap: 2rem;
            row-gap: 2rem;
            .card {
                width: 22%;
                cursor: move;
            }
            .card:last-child {
                border: none;
            }
        }
        .stats-top.cdk-drop-list-dragging .card:not(.cdk-drag-placeholder) {
            transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
        }

        .hdng-2 {
            margin-top: 3rem;
            color: var(--font-desat);
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom: 1.5rem;
        }
        .stats-btm {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            grid-column-gap: 2rem;
            column-gap: 2rem;
            grid-row-gap: 2rem;
            row-gap: 2rem;
            .sm-card {
                width: 22%;
            }
            .sm-card:last-child {
                border: none;
            }
        }
        .stats-btm.cdk-drop-list-dragging .sm-card:not(.cdk-drag-placeholder) {
            transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
        }
    }
}

@media screen and (max-device-width: 1250px), screen and (max-width: 1250px) {
    .ctnt-full {
        .tp-hlf {
            padding: 0 6rem;
            .tp-br {
                .solid {
                    display: none;
                }
            }
        }
        .bt-hlf {
            padding: 0 6rem;
            padding-bottom: 2rem;

            .stats-top {
                .card {
                    // width: 30%;
                }
            }
        }
    }
}

@media screen and (max-device-width: 1075px), screen and (max-width: 1075px) {
    .ctnt-full {
        .tp-hlf {
            padding: 0 4rem;
            .tp-br {
                .solid {
                    display: none;
                }
            }
        }
        .bt-hlf {
            padding: 0 4rem;
            padding-bottom: 2rem;

            .stats-top {
                .card {
                    // width: 30%;
                }
            }
        }
    }
}

@media screen and (max-device-width: 950px), screen and (max-width: 950px) {
    .ctnt-full {
        .tp-hlf {
            padding: 0 2rem;
            .tp-br {
                .solid {
                    display: none;
                }
            }
        }
        .bt-hlf {
            padding: 0 2rem;
            padding-bottom: 2rem;

            .stats-top {
                column-gap: 1rem;
                .card {
                    width: 22%;
                }
            }
            .stats-btm {
                column-gap: 1rem;
            }
        }
    }
}

@media screen and (max-device-width: 850px), screen and (max-width: 850px) {
    .ctnt-full {
        .tp-hlf {
            padding: 0 1rem;
            .tp-br {
                .solid {
                    display: none;
                }
            }
        }
        .bt-hlf {
            padding: 0 1rem;
            padding-bottom: 2rem;

            .stats-top {
                column-gap: 0;
                .card {
                    width: 22%;
                }
            }
            .stats-btm {
                column-gap: 0rem;
            }
        }
    }
}

@media screen and (max-device-width: 700px), screen and (max-width: 700px) {
    .ctnt-full {
        .tp-hlf {
            padding: 0 1rem;
            .tp-br {
                .solid {
                    display: none;
                }
            }
        }
        .bt-hlf {
            padding: 0 1rem;
            padding-bottom: 2rem;

            .stats-top {
                column-gap: 0;
                .card {
                    width: 22%;
                }
            }
            .stats-btm {
                column-gap: 0rem;
            }
        }
    }
}

@media screen and (max-device-width: 580px), screen and (max-width: 580px) {
    .ctnt-full {
        .tp-hlf {
            padding: 0 1rem;
            padding-bottom: 2rem;
            .tp-br {
                .hdng {
                    .txt {
                        font-size: 1.65rem;
                    }
                }
                .solid {
                    display: none;
                }
            }
        }
        .bt-hlf {
            padding: 0 1rem;
            padding-bottom: 2rem;

            .stats-top {
                column-gap: 0;
                .card {
                    width: 22%;
                }
            }
            .stats-btm {
                column-gap: 0rem;
            }
        }
    }
}

@media screen and (max-device-width: 512px), screen and (max-width: 512px) {
    .ctnt-full {
        .tp-hlf {
            padding: 0 2rem;
            .tp-br {
                flex-direction: column;
                .hdng {
                    width: 100%;
                    justify-content: space-between;
                }
                .solid {
                    display: block;
                    background: var(--tog-bar);
                    height: 1px;
                    width: 100%;
                    margin: 1rem 0;
                }
                .actn {
                    width: 100%;
                    justify-content: space-between;
                }
            }
        }
        .bt-hlf {
            padding: 0 2rem;
            padding-bottom: 2rem;
            margin-top: -3rem;
            .stats-top {
                .card {
                    width: 100%;
                }
            }
            .stats-btm {
                row-gap: 1.5rem;
                .sm-card {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-device-width: 470px), screen and (max-width: 470px) {
    .ctnt-full {
        .tp-hlf {
            padding: 0 1.5rem;
            .tp-br {
                flex-direction: column;
                .hdng {
                    width: 100%;
                    justify-content: space-between;
                    .txt {
                        font-size: 1.75rem;
                    }
                }
                .solid {
                    display: block;
                    background: var(--tog-bar);
                    height: 1px;
                    width: 100%;
                    margin: 1rem 0;
                }
                .actn {
                    width: 100%;
                    justify-content: space-between;
                }
            }
        }
        .bt-hlf {
            padding: 0 1.5rem;
            padding-bottom: 2rem;
            margin-top: -3rem;
            .stats-top {
                .card {
                    width: 100%;
                }
            }
            .stats-btm {
                row-gap: 1.5rem;
                .sm-card {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-device-width: 400px), screen and (max-width: 400px) {
    .ctnt-full {
        .tp-hlf {
            padding: 0 1.5rem;
            .tp-br {
                flex-direction: column;
                .hdng {
                    width: 100%;
                    justify-content: space-between;
                    .txt {
                        font-size: 1.5rem;
                    }
                }
                .solid {
                    display: block;
                    background: var(--tog-bar);
                    height: 1px;
                    width: 100%;
                    margin: 1rem 0;
                }
                .actn {
                    width: 100%;
                    justify-content: space-between;
                }
            }
        }
        .bt-hlf {
            padding: 0 1.5rem;
            padding-bottom: 2rem;
            margin-top: -4rem;
            .stats-top {
                .card {
                    width: 100%;
                }
            }
            .hdng-2 {
                font-size: 1.5rem;
            }
            .stats-btm {
                row-gap: 1.5rem;
                .sm-card {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-device-width: 350px), screen and (max-width: 350px) {
    .ctnt-full {
        .tp-hlf {
            padding: 0 1.5rem;
            .tp-br {
                flex-direction: column;
                .hdng {
                    width: 100%;
                    justify-content: space-between;
                    .txt {
                        font-size: 1.5rem;
                    }
                }
                .solid {
                    display: block;
                    background: var(--tog-bar);
                    height: 1px;
                    width: 100%;
                    margin: 1rem 0;
                }
                .actn {
                    width: 100%;
                    justify-content: space-between;
                }
            }
        }
        .bt-hlf {
            padding: 0 1.5rem;
            padding-bottom: 2rem;
            margin-top: -3rem;
            .stats-top {
                .card {
                    width: 100%;
                }
            }
            .hdng-2 {
                font-size: 1.25rem;
            }
            .stats-btm {
                row-gap: 1.5rem;
                .sm-card {
                    width: 100%;
                }
            }
        }
    }
}

.cdk-drag-handle {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    background-color: transparent;
    cursor: move;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
